.picture {
    margin-top: 2%;
    border-radius: 150px;
    height: 300px;
}
.card{
    height: 50%;
    margin: 0%;
    margin-top: 3%;
}
.button{
    background-color: #6ea328 !important;
    width: 150px;
}
.label{
    background-color: #6ea328;
    color: white;
    padding: 1em;
    margin: 3% 10% 4% 10% ;
    border-radius: 4px; 
    cursor: pointer;
}
@media (min-width: 640px) {
    .card{
        height: 50%;
        margin: 3% 4% 0% 4% ;
        width: 90%;
    }
}