.picture {
    margin-top: 2%;
    border-radius: 150px;
    height: 300px;
}
.body{
    align-items: center;
}
.card{
    height: 50%;
    margin: 0%;
    margin-top: 3%;
}
.button{
    background-color: #6ea328 !important;
    width: 150px;
}
@media (min-width: 640px) {
    .card{
        height: 50%;
        margin: 3% 4% 0% 4% ;
        width: 90%;
    }
}