 .friends{
    color: white;
    width: 30%;
    height: auto;
    margin: 2em 0em 0em 0em;
}
/* .picture {
    margin-top: 2% !important;
    border-radius: 150px;
    height: 300px;
}  */
.did{
    background-color: #dfe7d5 ;
    margin: 10% 20% 0% 20%; 
    padding-bottom: 5%;
    width: 60%;

}
.colorButton{
    background-color: #6ea328;
}

