.RowFriends{
    margin-top: 2em;
    width: 50%;
    padding: 0% 20% !important;

}

body{
    background-image: linear-gradient(to bottom right,black, gray,black);
    background-repeat: no-repeat;
    background-size: cover;
}