.Logo{
    height: 8em;
    margin-top: 3em;
}
.body{
    text-align: center;

}
.facebook{
    background-color: #3b5998 !important;
    margin: 1em;
}
.google{
    background-color: #db4a39 !important;
    margin: 1em;
}
.input{
    text-align: center;
}
.example{
    padding: 0% 20%;
    }