


.logo{
    height: 2em;
}
.navbar{
    background-color: #6ea328;
}

.icon{
    font-size: 55px;
    color: rgba(0, 0, 0, 0.651);
}
.box{
    height: 10%;
}
.inputxt{
    width: 90%;
}
.imgu{

    margin-top: 1em;

}
.textIcon{
    text-align: center
}
@media (min-width: 1000px) {
    .textIcon{
        display: none;
text-align: center;    }
}

.divPost{
    
    padding: 1em;
    background-color: rgb(231, 226, 226,1);
    height: auto;
    /* word-break: break-all;
    word-wrap: break-word; */
    word-break: normal !important;
    text-align: justify;
}
.divinpt{
    width: 100%;

}
#post_list{
    padding-top: 2%;
    display: inline-block;
}
.inpt2::placeholder{
color: #6ea328;

}