
body{
    background-color: gray;
}
.logo{
    height: 2em;
}
.navbar{
    background-color: #6ea328;
}
.icon{
    font-size: 55px;
    color: rgba(0, 0, 0, 0.651);
}
.box{
    height: 10%;
}
@media (min-width: 1000px) {
    .textIcon{
        display: none;
    }
}

.inputxt{
    width: 90%;
}
.imgu{
    margin-top: 1em;

}

